<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="homework_list_container">
    <div class="add_assignment_button_div">
        <button class="add_assignment_button">과제부여하기</button>
    </div>
    <div class="assignment_list_title_div">
        <img src="../img/book-btn.png" alt="homework_list_icon" class="homework_list_icon">
        <h3 class="assignment_list_title">과제 목록</h3>
    </div>
    <div class="assignment_box">
        <div class="homework_btn">
            <div class="homework_title_wrapper">
                <span class="homework_title">[과제:깃]</span>
            </div>
            <div class="homework_content_wrapper">
                <span class="homework_content">repository 생성과 push</span>
            </div>
            <div class="homework_date_wrapper">
                <span class="homework_date">3월 27일 월요일 19시까지</span>
            </div>
        </div>
    </div>
    <div class="assignment_box">
        <div class="homework_btn">
            <div class="homework_title_wrapper">
                <span class="homework_title">[과제:HTML&CSS]</span>
            </div>
            <div class="homework_content_wrapper">
                <span class="homework_content">12기 멋사 LMS 페이지 따라하기</span>
            </div>
            <div class="homework_date_wrapper">
                <span class="homework_date">4월 1일 월요일 19시까지</span>
            </div>
        </div>
    </div>
    <div class="assignment_box">
        <div class="homework_btn">
            <div class="homework_title_wrapper">
                <span class="homework_title">[과제:JS]</span>
            </div>
            <div class="homework_content_wrapper">
                <span class="homework_content">반응형 웹페이지 만들어보기</span>
            </div>
            <div class="homework_date_wrapper">
                <span class="homework_date">3월 27일 월요일 19시까지</span>
            </div>
        </div>
    </div>
    <div class="assignment_box">
        <div class="homework_btn">
            <div class="homework_title_wrapper">
                <span class="homework_title">[과제:Java]</span>
            </div>
            <div class="homework_content_wrapper">
                <span class="homework_content">클래스 속성을 이용해서 은행계좌 만들기</span>
            </div>
            <div class="homework_date_wrapper">
                <span class="homework_date">3월 27일 월요일 19시까지</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>
